---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Página no encontrada">
    <h1>404 - Página no encontrada</h1>
    <p>Lo sentimos, la página que buscas no existe.</p>
</BaseLayout>