---
import { profile } from "../data/profileData";
import ProfileImage from "../components/ProfileImage.astro";
import ProfileInfo from "../components/ProfileInfo.astro";
import ProfileActions from "../components/ProfileActions.astro";
import "../styles/profile.css";
---

<div class="profile-container">
  <div class="profile-card">
    <img class="banner" src={profile.bannerImage} alt="Banner" />
    <div class="profile-content">
      <ProfileImage />
      <ProfileInfo />
      <ProfileActions />
    </div>
  </div>
</div>
