<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/styles/global.css" />
		<meta name="Portafolio Jairo Flores Ruiz" content={Astro.Portafolio} />
		<title>Astro Basics</title>
	</head>
	<body>
		
		<slot />

	</body>
</html>
